<div class="container">
  <div class="title-div">
    <h1>C<i class="fa-solid fa-clock"></i>UNTDOWN<br>TIMER</h1>
  </div>
  <div class="inputs-div">
    <input type="text"  class="event-input" #eventName (keyup)="nameValidation(eventName.value)">
    <input type="datetime-local" class="date-input" id="dateI" #eventDate (keyup)="nameValidation(eventName.value)" (keyup)="dateValidation(eventDate.value)"   (input)="dateValidation(eventDate.value)">
    <input type="button" value="Start" class="start-button" (click)="showInfo(eventName.value, eventDate.value)">
  </div>
  <div class="warning-div">
    <span class="warning" [hidden]="eventRequiredWarning">A event name is required</span>
    <span class="warning" [hidden]="invalidDateWarning">Invalid date, enter a future date</span>
  </div>

  <div class="countdown-div">
    <pre class="countdown">00 : 00 : 00 : 00 : 00</pre>
    <pre class="info" [hidden]="infoHidden">      Months                           Days                           Hours                      Minutes                    Seconds</pre>
  </div>
</div>
